input {
    color: #ff0000;
    text-shadow: 0px 1px 1px #ffffff;
    background-color: #b9e4e3;
}

input:hover {
    color: #333333;
    border: 1px solid #a4a4a4;
    border-top: 2px solid #ffb700;
    background-color: greenyellow;
}
