h1 {
    text-shadow: 1px 1px 1px #3dc8ff;
}

h2 {
    word-spacing: 16px;
    text-transform: uppercase;
}

.breed:link {
    text-decoration: none;
}
.breed:hover {
    color: rgb(60, 255, 60);
    text-decoration: underline;
}

h3 {
    color: #3dc8ff;
}

.credits {
    text-align: right;
    font-style: italic;
}