.size {
    width: 150px;
    height: 150px;
}

#img_mario {
    vertical-align: text-top;
}

#img_luigi {
    vertical-align: baseline;
}

#img_peach {
    vertical-align: text-bottom;
}

#img_copa {
    vertical-align: middle;
}