body {
    background-color: black;
}

input {
    font-size: 120%;
    color: #ffaa00;
    background-color: #ffb5b5;
    border: 3px solid #dbff0f;
    border-radius: 5px;
    padding: 5px 5px 5px 30px;
    display: block;
    margin-bottom: 30px;
}

input:focus {
    background-color: #ffffff;
    border: 10px solid #4c5bff;
}

